cliente-x/1bemk7OZSvTIezzy.json
{
  "data": {
    "createdAt": "2025-03-01T13:17:59.071Z",
    "updatedAt": "2025-03-01T14:51:37.516Z",
    "id": "1bemk7OZSvTIezzy",
    "name": "Backap",
    "active": false,
    "nodes": [
      {
        "parameters": {},
        "id": "578cf2d2-8975-4f97-b925-846093c83645",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          620,
          220
        ]
      },
      {
        "parameters": {
          "returnAll": false,
          "limit": 1,
          "filters": {},
          "requestOptions": {}
        },
        "id": "f8d6d03d-b67d-4073-b865-9f1cb89af979",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          960,
          220
        ],
        "credentials": {
          "n8nApi": {
            "id": "37rIbtn6OUj2beDP",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.repository }}",
            "mode": "name"
          },
          "filePath": "=cliente-x/{{ $json.id }}.json",
          "additionalParameters": {}
        },
        "id": "949abfbe-d0f9-453b-a3f4-ee7b0b3df991",
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1420,
          80
        ],
        "credentials": {
          "githubOAuth2Api": {
            "id": "6tfoYcaiZGrh6pMP",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "97d64e24-3fb2-488f-b04b-c737f109120d",
                "name": "owner",
                "value": "zoonyte",
                "type": "string"
              },
              {
                "id": "99c2070e-781c-45f5-9462-cc93e2088768",
                "name": "repository",
                "value": "n8n-backup",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c7824917-f6f3-4fc4-aa1f-8ab500ef4078",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          780,
          220
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2529992d-cab3-4a80-b58a-993c925ccf00",
                "name": "data",
                "value": "={{ $json}}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "36cc9d61-db04-4f4f-a36d-01abdc077b18",
        "name": "Dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1240,
          360
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.repository }}",
            "mode": "name"
          },
          "filePath": "=cliente-x/{{ $json.data.id }}.json",
          "fileContent": "={{ JSON.stringify($json.data) }}",
          "commitMessage": "={{ $json.data.name }}"
        },
        "id": "12bffef4-5681-44d7-8ce5-8b4b4fa5e26c",
        "name": "GitHub1",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1460,
          360
        ],
        "credentials": {
          "githubOAuth2Api": {
            "id": "6tfoYcaiZGrh6pMP",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            },
            {
              "node": "Dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados": {
        "main": [
          [
            {
              "node": "GitHub1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "e0eb7761-c953-49d8-863e-590bb429817e",
    "triggerCount": 0,
    "tags": []
  }
}