cliente-x/1bemk7OZSvTIezzy.json
{
  "createdAt": "2025-03-01T13:17:59.071Z",
  "updatedAt": "2025-03-01T17:19:56.728Z",
  "id": "1bemk7OZSvTIezzy",
  "name": "Backap",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "f8d6d03d-b67d-4073-b865-9f1cb89af979",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        960,
        220
      ],
      "credentials": {
        "n8nApi": {
          "id": "37rIbtn6OUj2beDP",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2529992d-cab3-4a80-b58a-993c925ccf00",
              "name": "data",
              "value": "={{ $json}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "36cc9d61-db04-4f4f-a36d-01abdc077b18",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97d64e24-3fb2-488f-b04b-c737f109120d",
              "name": "owner",
              "value": "zoonyte",
              "type": "string"
            },
            {
              "id": "99c2070e-781c-45f5-9462-cc93e2088768",
              "name": "repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c7824917-f6f3-4fc4-aa1f-8ab500ef4078",
      "name": "infos Basicas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "keepSource": "json"
        }
      },
      "id": "b3a7b83f-ecdc-456d-abcb-f67d0aa02316",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1440,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('infos Basicas').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('infos Basicas').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "id": "949abfbe-d0f9-453b-a3f4-ee7b0b3df991",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1240,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "6tfoYcaiZGrh6pMP",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "ad28eb27-0165-492e-9044-d8056835d642",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        440
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "9aae28ca-15de-47d6-bd50-460c4bc66128",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2180,
        440
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "id": "71661f84-951f-446e-af6f-3bb3fa403a50",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1640,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('infos Basicas').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('infos Basicas').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $('Edit Fields').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Edit Fields').item.json.name }} {{ $now.toString() }}"
      },
      "id": "12bffef4-5681-44d7-8ce5-8b4b4fa5e26c",
      "name": "Create file",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2400,
        440
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "6tfoYcaiZGrh6pMP",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "da77ce69-21c6-45f1-bca9-6d1399664102",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "1fe7b215-30b5-4a82-9576-aa2f93792c7f",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('infos Basicas').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('infos Basicas').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $('Edit Fields1').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Edit Fields1').item.json.name }} {{ $now.toString() }}"
      },
      "id": "3369145c-b7c8-4514-83fa-548b51aea84e",
      "name": "editar",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "6tfoYcaiZGrh6pMP",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "719ef29f-d8e0-465a-be91-10e018311281",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        580,
        220
      ]
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "infos Basicas": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "infos Basicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ccc1025b-9604-4e1a-9005-8dfd21c8de13",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-01T17:16:49.431Z",
      "updatedAt": "2025-03-01T17:16:49.431Z",
      "id": "rWbVdZtbsJ2TbgMj",
      "name": "backup"
    }
  ]
}